* {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: small;
}
#txt_id { 
    width: 75px;
}
.primary-color {
    color: black;
}
.primary-color:hover{
    color: rgb(78, 78, 78);
}
a{
    text-decoration: none;
}
#logo-barra {
    width: 50px;
}
